.layer__960e4.baseLayer__960e4 {
    background-color: transparent;
}
.visual-refresh .sidebar_c48ade {
    background-color: transparent;
}
.chat-2ZfjoI, .threadSidebar-1o3BTy {
    background-color: transparent;
}
.visual-refresh .wrapper_ef3116 {
    background-color: transparent;
}
.visual-refresh .chatContent_f75fb0 {
    background: transparent;
}
.visual-refresh .chat_f75fb0 {
    background: transparent;
}
.visual-refresh .container__2637a {
    background: transparent;
}
.visual-refresh .container__133bf {
    background-color: transparent;
}
.theme-dark .themed__9293f {
    background-color: transparent;
}
.visual-refresh .tabBody__133bf {
    background-color: transparent;
}
.container__7d20c {
    background: transparent;
}
.visual-refresh .privateChannels__35e86 {
    background: transparent;
}
.nowPlayingColumn__133bf {
    background: transparent;
}
.bg-1QIAus {
    background-color: transparent;
}
.sidebar-1tnWFu {
    background-color: transparent;
}
.container-1NXEtd {
    background-color: transparent;
}
.members-3WRCEx, .members-3WRCEx > div {
    background-color: transparent;
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.scroller-2TZvBN, .wrapper-1Rf91z {
    background-color: transparent;
}
.scrollableContainer-15eg7h {
    background-color: transparent;
}
.scroller-WSmht3 {
    background-color: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.panels-3wFtMD {
    background-color: transparent;
}
.topSectionNormal-2-vo2m {
    background-color: transparent;
}
.body-3ND3kc {
    background-color: transparent;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: transparent;
}
.layer-86YKbF {
    background-color: transparent;
}
.sidebarRegionScroller-FXiQOh {
    background-color: transparent;
}
.contentRegion-3HkfJJ {
    background-color: transparent;
}
.contentRegionScroller-2_GT_N {
    background-color: transparent;
}
.topSectionPlaying-1J5E4n {
    background-color: transparent;
}
.theme-dark .container-2cd8Mz {
    background-color: transparent;
}
.emptyCard-KDifrB,
.wrapper-2RrXDg,
.topSectionPlaying-1J5E4n {
    background-color: transparent;
}
.nowPlayingColumn-1eCBCN,
.headerSpotify-zpWxgT {
    background-color: transparent;
}
.childWrapper-1j_1ub {
    background-color: transparent;
}
.theme-dark .footer-VCsJQY {
    background-color: transparent;
}
.embedFull-1HGV2S {
    background-color: transparent;
}
.headerPlaying-j0WQBV,
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: transparent;
}
.headerXbox-3G-4PF {
    background-color: transparent;
}
.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}
.headerNormal-T_seeN {
    background-color: transparent;
}
.wrapper-2vIMkT {
    background-color: transparent;
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.scroller-3X7KbA {
    background-color: transparent;
}
.headerTop-2y3V6H {
    background-color: transparent;
}
.headerNormal-1l1Znk {
    background-color: transparent;
}
.profileBanner-1owKI5 {
    background-color: transparent !important;
}
.header-1w9Q93 {
    background-color: transparent;
}
.messageGroupWrapper-1jf_7C {
    background-color: transparent;
}
.messages-23can0 {
    background-color: transparent;
}
.container-1oAagU {
    background-color: transparent;
}
.container-2o3qEW {
    background-color: transparent;
}