/*Main Background*/
.visual-refresh .bg__960e4 {
    background: url(https://github.com/ChickChuck2/BetterDiscord/blob/main/Anima%C3%A7%C3%A3o.gif?raw=true);
    background-size: cover;
}
.visual-refresh .outer_bf1984{
    background-color: rgba(0, 0, 0, 0.223);
}
.visual-refresh .scroller__99e7c {
    background: rgba(0, 0, 0, 0.423);
}
.visual-refresh .panels_c48ade {
    background: rgba(0, 0, 0, 0.493);
}
.children-3xh0VB:after {
    position: unset;
}
.channelTextArea-1FufC0 {
    background: linear-gradient(65deg, rgba(172, 28, 28, 0.185) 92%, rgba(255, 0, 0, 0.178) 89%);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(1, 1, 1, 0.277);
}
.searchBar-zdmu7v {
    background-color: rgba(1, 1, 1, 0.277);
}
#bd-pub-button {
    background-color: rgba(1, 1, 1, 0.277);
}
.theme-dark .form-3gdLxP:before {
    position: unset;
}
.root-g14mjS {
    background-image: url(https://images5.alphacoders.com/782/782913.png);
    background-size: cover;
    background-position: -140px;
}
.standardSidebarView-E9Pc3j {
    background-image: url(https://images5.alphacoders.com/782/782977.png);
    background-size:cover;
}
.background-3d_SjE {
    background-color: rgba(1, 1, 1, 0.277);
}
.fieldList-in8WkP {
    background-color: rgba(1, 1, 1, 0.277);
}
.theme-dark .inset-SbsSFp {
    background-color: rgba(0, 0, 0, 0.423);
}
.attachment-1PZZB2 {
    background-color: transparent;
    border-color: red;
    border-radius: 20px;
    border-bottom:double 8px red;
}
.theme-dark .uploadModal-2ie9O_ {
    background-image: url(https://images6.alphacoders.com/798/798232.png);
    background-size: cover;
}
.colorStandard-21JIj7 {
    color: white;
}
.title-3XlmeX {
    color: black;
}
.customStatusText-39gdCI {
    color: black;
    text-shadow: 
    2px 0 0 rgb(255, 255, 255),
    -2px 0 0 rgb(255, 255, 255), 
    0 2px 0 rgb(255, 255, 255),
    0 -2px 0 rgb(255, 255, 255),
    1px 1px rgb(255, 255, 255),
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255);
}
.full-motion .translate-PeW1wK.didRender-2SiRlm {
    background: none;
    background-image: url(https://images5.alphacoders.com/690/690622.jpg);
    background-size: cover;
    background-position: -194px;
}
.bd-addon-list .bd-addon-card,
.bd-addon-list .bd-addon-header {
    background-color: rgba(0, 0, 0, 0.223);
}
.item-2idW98 {
    background-color: rgba(0, 0, 0, 0.423);
}
.item-2idW98[aria-checked=true] {
    background-color: rgba(80, 53, 53, 0.423);
}
.anchor-1MIwyf {
    color: red;
}
.accountList-305sx3 {
    background-color: rgba(0, 0, 0, 0.423);
}
.connectionHeader-2rV1ze {
    background-color: rgba(0, 0, 0, 0.423);
}
.connection-107AGH {
    background-color: rgba(0, 0, 0, 0.423);
}
.theme-dark .feature-2IUcBI {
    background-color: rgba(0, 0, 0, 0.423);
}
.menu-1QACrS {
    background: rgba(0, 0, 0, 0.423);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background: linear-gradient(65deg, rgba(192, 28, 28, 0.49) 42%, rgb(255, 212, 1) 89%);
    color: #000000;
}
.bd-search-wrapper {
    background-color: #00000078;
}
.accountBtn-1YkMgV .accountBtnInner-3XK70s {
    background-color: #00000080;
}
.cardWrapper-CyvwQv {
    background-color: rgba(0, 0, 0, 0.493);
}
.theme-dark .gemIndicatorContainer-PqApbX {
    background: linear-gradient(65deg, rgba(192, 28, 28, 0.49) 42%, rgb(255, 212, 1) 89%);
}
.theme-dark .codeRedemptionRedirect-3SBiCp {
    color: #fff;
    background-color: #00000085;
    border-color: #ff00008a;
}
.preview-rua1rr{
    background-color: rgba(0, 0, 0, 0.493);
}
.theme-dark {
    --scrollbar-thin-thumb: #ff000069;
    --scrollbar-thin-track: #a7212100;
    --scrollbar-auto-thumb: #a22b2b;
    --scrollbar-auto-track: #0000004f;
}
.wrapper-2vIMkT {
    background-color: #00000099;
}
.contentWrapper-3vHNP2 {
    background-color: rgba(0, 0, 0, 0.6);
}
.inspector-DFKXwB {
    background-color: #0000007a;
}
.wrapper-1NNaWG {
    background-color: #4600008c;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: linear-gradient(65deg, rgba(192, 28, 28, 0.49) 42%, rgb(255, 212, 1) 89%);
    color: #fff;
}
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background: linear-gradient(65deg, rgb(64, 64, 64) 42%, rgb(33, 33, 33) 89%);
}
.jumpToPresentBar-1cEnH0 {
    background-color: #00000078;
}
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: #0000007a;
    color: var(--interactive-active);
}
.reaction-2A2y9y {
    background: linear-gradient(65deg, rgba(192, 28, 28, 0.25) 42%, rgba(255, 212, 1, 0.25) 89%)
}
.textarea-_59yqs:focus {
    background-color: rgba(0, 0, 0, 0.223);
}
.markup-eYLPri code {
    background-color: rgba(0, 0, 0, 0.493);
}
.messagesPopoutWrap-3zryHWp {
    background-image: url("https://images6.alphacoders.com/806/806274.png");
    background-size: cover;
}
.container-2ebMPP {
    background-image: url("https://images4.alphacoders.com/787/787087.png");
    background-size: cover;
}
.channelHeader-DFRX8q {
    background-color: rgba(0, 0, 0, 0.493);
}
.markup-eYLPri {
    color: #ffffff;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: rgba(0, 0, 0, 0.223);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255, 0, 0, 0.295);
    border-radius: 20px;
}
.avatar-22FtUu {
    background-color: transparent;
    border: transparent;
}
.bd-setting-note {
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.bd-setting-header label {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}