/*Menu Background*/
.platform-win .bg-1QIAus {
    background-image: url("https://images.alphacoders.com/743/thumb-1920-743968.png");
    background-size: cover;
}

.bg-1QIAus {
    background-color: transparent;
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.scroller-3X7KbA {
    background-color: transparent;
}
.sidebar-1tnWFu {
    background-color: transparent;
}
.scroller-WSmht3 {
    background-color: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.panels-3wFtMD {
    background-color: rgba(0, 0, 0, 0.500);
}
.chat-2ZfjoI, .threadSidebar-1o3BTy{
    background-color: transparent;
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.children-3xh0VB:after {
    position: unset;
}

.channelTextArea-1FufC0 {
    background: linear-gradient(64deg,rgba(255, 0, 242, 0.24),rgba(255, 255, 255, 0.582));
}
.scrollableContainer-15eg7h {
    background-color: transparent;
}
.icon-1d5zch {
    color: black;
}
.fontSize16Padding-XoMpjI {
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.span {
    color: royalblue;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(0, 0, 0, 0.100);
}
.cozy-VmLDNB .messageContent-2t3eCI {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.name-3Vmqxm {
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.headerText-1qIDDT {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG,.akaBadge-3i7V3p, .nicknames-10Sg6e {
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub,
.childWrapper-1j_1ub {
    background: linear-gradient(64deg,rgba(255, 0, 242, 0.38),rgba(255, 255, 255, 0));
}
.searchBar-zdmu7v {
    background-color: rgba(0, 0, 0, 0.100);
}
.circleIconButton-1QV--U {
    background: linear-gradient(64deg,rgba(99, 0, 77, 0.38),rgba(255, 255, 255, 0));
}
.wrapper-2vIMkT {
    background-color: rgba(0, 0, 0, 0.500);
}
.menu-1QACrS {
    background-color: rgba(0, 0, 0, 0.500);
}

/*Lista de amigos*/
.theme-dark .container-2cd8Mz,.container-1oAagU,.nowPlayingColumn-1eCBCN {
    background-color: transparent;
}
.emptyCard-KDifrB {
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
}

.contentWrapper-3vHNP2 {
    background-color: rgba(0, 0, 0, 0.500);
}
.container-1SX9VC, .wrapper-22rqw6, .wrapper-1NNaWG, .inspector-DFKXwB {
    background-color: rgba(0, 0, 0, 0.100);
}
.navButtonActive-1EqC5l, .categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background: linear-gradient(64deg,rgba(224, 0, 176, 0.38),rgba(255, 255, 255, 0.575));
}
.icon-2xnN2Y {
    color: rgb(0, 255, 0);
}
.themed-2-lozF.item-3XjbnG {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
#bd-pub-button, .brand-3g5E0C.item-3XjbnG {
    background-color: rgba(0, 0, 0, 0.100);
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.container-2oNtJn {
    background-color: rgba(0, 0, 0, 0.100);
}
.headerCell-T6Fo3K,.title-3XlmeX {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.activity-1-H7Zd {
    color: rgb(255, 0, 200);

}
.userPopout-2j1gM4 {
    background-image: url("https://images6.alphacoders.com/728/thumb-1920-728203.jpg");
    background-size: cover;
    background-position: -330px;
}
.bodyInnerWrapper-2bQs1k,.footer-1Dc_h6 {
    background-color: transparent;
}
.input-2z42oC {
    background-color: rgba(0, 0, 0, 0.300);
}
.textarea-_59yqs:focus {
    background-color: rgba(0, 0, 0, 0.300);
}
.popoutBanner-3cqRD9 {
    background-color: transparent !important;
}

.avatar-2Vndt_ {
    border: 6px solid transparent;
    background-color: transparent;
}

.wrapper-2RrXDg {
    background-color: rgba(0, 0, 0, 0.100);
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(0, 0, 0, 0.300);
}
.textContent-TsKzji {
    color: white;
}
.text-MPIeXO {
    color: purple;
}
.username-Qpc78p {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.actionButton-3-B2x- {
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
}
.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
}

.root-8LYsGj {
    background-image: url("https://images3.alphacoders.com/772/thumb-1920-772996.jpg");
    background-position: -200px;
    background-size: cover;
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: transparent;
}
.root-8LYsGj .date-YN6TCS, .customStatusText-_4TbWr,.base-21yXnu,.userBio-2-tr00,
.textarea-_59yqs,.nameTag-2Nlmsy .botTag-2Mlq3u, .nameTag-2Nlmsy .discriminator-1bqsd3,
 .nameTag-2Nlmsy .username-1g6Iq1,.textRow-1sENuL,.username-3JLfHz,.listDiscriminator-1HAKWY,.colorStandard-21JIj7,
 .typing-2J1mQU > .text-3S7XCz, .typing-2J1mQU > .text-3S7XCz > strong {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.connectedAccount-1xKpli {
    background-color: rgba(0, 0, 0, 0.300);
}
.profileBanner-1owKI5 {
    background-color: transparent !important;
}
.content-3spvdd {
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
}

/*Configs*/
.layer-86YKbF {
    background-color: transparent;
}

.sidebarRegionScroller-FXiQOh,.contentRegionScroller-2_GT_N,.contentRegion-3HkfJJ {
    background-color: transparent;
}
.standardSidebarView-E9Pc3j {
    background-color: transparent;
}
.accountProfileCard-lbN7n- {
    background-color: rgba(0, 0, 0, 0.300);
}
.background-3d_SjE,.fieldList-in8WkP {
    background-color: rgba(0, 0, 0, 0.100);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: rgba(255, 0, 255, 0.445);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: rgba(255, 0, 255, 0.74);
}
.body-16rSsp {
    background-color: transparent;
}
.ShowSessions-list-item,.section-3G9aLW {
    background: rgba(0, 0, 0, 0.500) !important;
}
.profileBannerPreview-3_l0Wd {
    background-image: url("https://images6.alphacoders.com/728/thumb-1920-728203.jpg");
    background-size: cover;
    background-position: -250px;
}
.item-2idW98 {
    background-color: rgba(0, 0, 0, 0.500);
}
.item-2idW98[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.700);
}
.item-2idW98:hover:not([aria-checked=true]) {
    background-color: rgba(0, 0, 0, 0.600);
}

.small-23Atuv,.footer-31IekZ {
    background-color: rgba(0, 0, 0, 0.500) !important;
}
.accountList-305sx3,.connectionHeader-2rV1ze,
.accountBtn-1YkMgV .accountBtnInner-3XK70s,
.connectionHeader-2rV1ze,.connection-107AGH,

.noItemsCard-153Tex,.noItemsCard-5EOcCl,

.feature-2IUcBI,

.codeRedemptionRedirect-3SBiCp{
    background-color: rgba(0, 0, 0, 0.300) !important;
}

.features-3EmM1p {
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
}
.cardWrapper-CyvwQv {
    background-color: rgba(0, 0, 0, 0.500);
}

/*servidores*/
.sidebar-1tnWFu,.container-1NXEtd,
.members-3WRCEx, .members-3WRCEx>div {
    background-color: transparent;
}
.channelName-3KPsGw, .subtitle-3PyFgf {
    color: white;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.embedFull-1HGV2S {
    background-color: rgba(0, 0, 0, 0.500);
}

.searchResultsWrap-5RVOkx,.searchHeader-1r_ZSh,
.channelName-3w2Y3c,.searchResult-O9NDji {
    background-color: rgba(0, 0, 0, 0.300);
}

.listName-PwbeHL,.name-3Uvkvr {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.modeMuted-2T4MDZ .icon-2W8DHg, .modeMuted-2T4MDZ .name-28HaxV {
    color: purple !important;
}
.item-2LIpTv,.unread-36eUEm{
    background: linear-gradient(rgb(39, 3, 39),purple);
}
.wrapperAudio-1Bzv_Z {
    background-color: rgba(0, 0, 0, 0.500) !important;
}
.audioMetadata-1Hrt8T .metadataSize-2A2s1T {
    color:  white;
}

.theme-dark {
    --scrollbar-auto-thumb: purple;
    --scrollbar-thin-thumb: purple;
    --scrollbar-auto-track: transparent;
}
.bd-addon-list .bd-addon-card,.bd-addon-list .bd-addon-header,
.bd-search-wrapper {
    background-color: rgba(0, 0, 0, 0.300);
}
.bd-search {
    color: white !important;
}

/*mandar arquivo*/
.uploadModal-2ie9O_ {
    background-image: url("https://images7.alphacoders.com/695/thumb-1920-695212.png") !important;
    background-size: cover;
}
.uploadModal-2ie9O_ .footer-VCsJQY {
    background-color: transparent;
}
.uploadCounter-iEGQQk {
    color: white;
}

.container-2ebMPP {
    background-image: url("https://images8.alphacoders.com/727/thumb-1920-727079.png");
    background-size: cover;
    background-position: -100px;
}
.header-1w9Q93 {
    background-color: rgba(0, 0, 0, 0.300);
}
.messagesPopoutWrap-3zryHW {
    background-image: url("https://images8.alphacoders.com/727/thumb-1920-727079.png");
    background-size: cover;
    background-position: -300px;
}
.channelHeader-DFRX8q,
.messageContainer-3VTXBC {
    background-color: rgba(0, 0, 0, 0.100);
}
.markup-eYLPri code {
    background-color: rgba(0, 0, 0, 0.300);
}
.feature-2sPtnu {
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
}
.container-2o3qEW {
    background-color: rgba(0, 0, 0, 0.600);
}