/*Wallpaper principal*/
.app-2CXKsg {
    background-image:url(https://images6.alphacoders.com/924/924236.jpg);
    background-size: cover;
}

.bg-1QIAus {
    background-color: transparent;
}
/**/

/*Configs Background*/
.standardSidebarView-E9Pc3j {
    background-color: transparent;
    background-image: url(https://images6.alphacoders.com/898/898336.png);
    background-size: cover;
}
.uploadModal-2ie9O_ {
    background-image: url(https://images3.alphacoders.com/898/898331.png) !important;
    background-size: cover;
}
.footer-VCsJQY {
    background-color: transparent !important;
}
.contentRegion-3HkfJJ {
    background-color: transparent;
}
.background-3d_SjE{
    background-color: transparent;
}
.fieldList-in8WkP {
    background-color: rgba(0, 0, 0, 0.123);
}
/**/

/*userpopout*/
.full-motion .translate-PeW1wK.didRender-2SiRlm{
    background-image: url(https://images7.alphacoders.com/908/908284.png);
    background-size:cover;
    background-position: 60%;
}
/*NEW USERPOPOUT*/
.userProfileInnerNonPremium-1XjSjn {
    background-image: url(https://images7.alphacoders.com/908/908284.png);
    background-size:cover;
    background-position: 60%;
}
.overlayBackground-1KgwVi {
    background-color: rgba(0,0,0,0.1);
}
/**/

.profileBanner-2zIsK7 {
    background-color: transparent !important;
}

.headerNormal-T_seeN {
    background-color: rgba(0, 0, 0, 0.123) !important;
}
.body-3iLsc4, .footer-1fjuF6 {
    background-color: rgba(0, 0, 0, 0.123) !important;
}
.textarea-_59yqs{
    background-color: rgba(0, 0, 0, 0.423);
}
.headerPlaying-j0WQBV {
    background-color: transparent;
}
/**/
/*Root*/
.root-g14mjS {
    background-image: url(https://images.alphacoders.com/896/896283.png);
    background-size: cover;
}
.topSectionNormal-2-vo2m {
    background-color: transparent;
}
.body-3ND3kc {
    background-color: transparent;
}
.themed-2-lozF.item-3XjbnG,
.root-SR8cQa .topSectionNormal-2-vo2m .date-YN6TCS {
    color: white;
    font-variant: normal;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
/**/

/*layercontainer*/
.layerContainer-2v_Sit,
.header-145e10, .header-145e10 .tab-TRrPC8{
    background-color: transparent;
}
.container-2ebMPP {
    background-image: url(https://images7.alphacoders.com/898/898340.png);
    background-size: cover;
    background-position: -300px;
}
/**/


.bd-addon-list .bd-addon-card,
.bd-addon-list .bd-addon-header {
    background-color: rgba(0, 0, 0, 0.423);
}
.bd-switch {
    border-radius: 10px;
}
.children-3xh0VB:after{
    position: unset;
}


.menu-1QACrS {
    background-color: rgba(0, 0, 0, 0.523);
}
.embedFull-1HGV2S {
    background-color: rgba(0, 0, 0, 0.423);
}



.chat-2ZfjoI{
    background-color: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.sidebar-1tnWFu {
    background: transparent;
}
.scroller-WSmht3 {
    background-color: transparent;
}
.thin-31rlnD,
.scrollerBase-_bVAAt,
.fade-1R6FHN {
    background-color: transparent;
    background: transparent;
}
.searchBarComponent-3N7dCG{
    background-color: rgba(0, 0, 0, 0.123);
}
.title-31SJ6t,
.container-ZMc96U,
.toolbar-3_r2xA,
.themed-Hp1KC_ {
    background-color: transparent;
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.searchBar-zdmu7v {
    background-color:rgba(0, 0, 0, 0.123);
}
.searchBar-3TnChZ{
    background-color: rgba(0, 0, 0, 0.123);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: transparent;
}
.panels-3wFtMD {
    background-color: rgba(0, 0, 0, 0.423);
}
.wrapper-1Rf91z {
    background-color: transparent;
}
.scrollableContainer-15eg7h,
.channelTextArea-1FufC0 {
    background-color: rgba(0, 0, 0, 0.123);
}
.container-1NXEtd {
    background-color: transparent;
}
.content-2a4AW9 {
    background-color: transparent;
}
.members-3WRCEx,
.members-3WRCEx>div {
    background-color: rgba(0, 0, 0, 0.090);
}
.attachment-1PZZB2 {
    background-color: rgba(0, 0, 0, 0.423);
    border-color: red;
}
.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP,
.buttonColor-3bP3fX {
    background-color: transparent;
    color: white;
}
.container-2cd8Mz {
    background-color: transparent !important;
}
.actionButton-3-B2x- {
    background-color: rgba(0, 0, 0, 0.123);
}
.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(0, 0, 0, 0.223);
}
.highlight-3DSi7b {
background-color: rgba(0, 0, 0, 0.223);
}
.wrapper-2vIMkT {
    background-color: rgba(0, 0, 0, 0.123);
}
#bd-pub-button {
    background-color: rgba(0, 20, 20, 0.123);
}
.topSectionSpotify-1lI0-P {
    background-color: transparent;
}
.emptyCard-KDifrB,
.wrapper-2RrXDg,
.topSectionPlaying-1J5E4n,
.inset-SbsSFp {
    background-color: rgba(0, 0, 0, 0.423) !important;
}

.nowPlayingColumn-1eCBCN,
.headerSpotify-zpWxgT {
    background-color: transparent;
}
.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: transparent;
}
.root-g14mjS,
.footer-31IekZ {
    background-color: rgba(0, 0, 0, 0.523) !important;
}
/*text*/
.markup-eYLPri {
    text-shadow: 
     2px 0 0 rgb(0, 0, 0),
     -2px 0 0 rgb(0, 0, 0), 
     0 2px 0 rgb(0, 0, 0), 
     0 -2px 0 rgb(0, 0, 0),
     1px 1px rgb(0, 0, 0), 
     -1px -1px 0 rgb(0, 0, 0), 
     1px -1px 0 rgb(0, 0, 0), 
     -1px 1px 0 rgb(0, 0, 0);
}
.icon-N9JZb6 {
    color: black;
}
.childWrapper-1j_1ub {
    color: white;
    background-color: transparent;
}
.applicationStore-2nk7Lo {
    background-color: #36393f9e;
}
.markup-eYLPri a {
    color: #03b9ff;
}
.messagesPopoutWrap-3zryHW {
    background-image: url(https://images7.alphacoders.com/898/898340.png);
    background-size: cover;
    background-position: -284px;
}
.header-yku{
    background-color: transparent;
}
.messageGroupWrapper-1jf_7C {
    background-color: transparent;
    border: 1px solid red;
}


element.style {
    background-image: url(https://images8.alphacoders.com/910/910057.png);
}
.name-3Vmqxm {
    color: white;
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0);
}
.invite-3uuHYQ {
    background-color: slategray !important;
    background: #2e3035 !important;
}
.container-2oNtJn {
    background-color: rgba(0, 0, 0, 0.423);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: transparent;
}
.item-2idW98 {
    background-color: transparent;
}
.item-2idW98[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.423);
}
.accountList-305sx3{
    background-color: rgba(0, 0, 0, 0.423);
}
.connection-107AGH {
    background-color: rgba(0, 0, 0, 0.423);
}
.connectionHeader-2rV1ze {
    background-color: rgba(0, 0, 0, 0.123);
}
.codeRedemptionRedirect-3SBiCp {
    background-color: transparent !important;
    border-color: transparent !important;
}
.feature-2IUcBI {
    background-color: rgba(0, 0, 0, 0.123) !important;
}
.banner-WELp4M {
    background-color: rgba(0, 0, 0, 0.123);
}
.featureStickers-Pc_FBx .stickerImageSection-7EUs8E {
    background-color: rgba(0, 0, 0, 0.123);
}
.accountBtn-1YkMgV .accountBtnInner-3XK70s {
    background-color: rgba(0, 0, 0, 0.223);
}
.item-2idW98[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.223);
}
.card-2ART2V:before {
    background-color: rgba(0, 0, 0, 0.123) !important;
    border-color: red !important;
}
.icon-2xnN2Y {
    color:cyan;
}
.channelHeader-DFRX8q {
    background-color: rgba(0, 0, 0, 0.223);
}
.messages-23can0{
    background-color: rgba(0, 0, 0, 0.123);
}
.header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: rgba(0, 0, 0, 0.423) !important;
}
.item-2LIpTv {
    background: linear-gradient(65deg, rgba(204, 255, 0, 0.185) 10%, rgba(0, 255, 8, 0.178) 89%);
}
.selected-3H3-RC {
    background-color: rgba(0, 0, 0, 0.123) !important;
}
.autocomplete-3NRXG8 {
    background-color: rgba(0, 0, 0, 0.423) !important;
}
.inspector-DFKXwB {
    background-color: transparent;
}
.wrapper-1NNaWG {
    background-color: transparent;
}
.wrapper-22rqw6 {
    background-color: transparent;
}
.categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: rgba(0, 0, 0, 0.423);
}
.jumpToPresentBar-1cEnH0{
    background-color: rgba(29, 205, 228, 0.466);
}
.theme-dark {
    --background-primary: #0055ff00;
    --background-secondary: #00000091;
    --header-primary: #82b7ff;
    --background-accent: #0000004d;    
    --scrollbar-auto-track: #2e333800;    
    --scrollbar-auto-thumb: #0066ff;    
    --interactive-muted: #000000;
    --text-link: #00b0f4;
    --text-muted: #0070ff;
    --scrollbar-thin-thumb: #00daff45;
    --elevation-low: 0 1px 0 rgba(0, 0, 255, 0),0 1.5px 0 rgba(0, 0, 0, 0.32),0 2px 0 rgba(0, 0, 255, 0);
}
.header-1w9Q93 {
    background-color: transparent;
}
.themedPopout-1TrfdI {
    background-image: url(https://images8.alphacoders.com/911/911039.png);
    background-size: cover;
    background-position: -244px;
}
.searchResultsWrap-5RVOkx{
    background-color: transparent;
}
.searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: transparent;
    border: 1px solid red;
    box-shadow: 0 0 10px 6px #2f313600;
}
.searchResult-O9NDji:before{
    position: unset;
}
.searchResult-O9NDji.expanded-w_LCGl {
    background-color: rgba(0, 0, 0, 0.223);
    border: rgba(0, 0, 0, 0.423);
}
.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: rgba(0, 0, 0, 0.223);
    border: rgba(0, 0, 0, 0.223);
}
.searchAnswer-23w-CH, .searchFilter-2UfsDk {
    background-color: rgba(0, 0, 0, 0.423) !important;
}
.emojiSection-3QtaWO {
    background-color: rgba(0, 0, 0, 0.523);
}
.subtext-xfubwR {
    color: #00ff95de;
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0);
}
.outer-2JOHae.active-1W_Gl9,.outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(0, 0, 0, 0.65) !important;
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    color: #43b581;
    background-color: #00000094;
}
.message-G6O-Wv {
    background-color: rgba(0, 0, 0, 0.423) !important;
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.6), 0 2px 10px 0 rgb(0, 255, 242) !important;
}
.floating-window-titlebar {
    background-color: rgba(0, 0, 0, 0.65);
}
.colorable-3rVGna.primaryDark-2UJt1G {
    background: #00000059;
}
.noiseCancellationPopout-2-e5Xz {
    background: linear-gradient(45deg, #2d5f71a1 43%, #4feca0a6);
}
.description-30xx7u, .labelDescriptor-34wZ-z {
    color: #00ff95de;
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0);
}
.header-1BxQhu {
    color: red;
}
.description-3jrWCU {
    color: #00ff95de;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
.popoutContainer-2wbmiM {
    background-color: rgba(0, 0, 0, 0.423);
}
.guildSection-2Zyzy8 {
    background-color: rgba(0, 0, 0, 0.7);
}
.headerXbox-3G-4PF{
    background-color: transparent;
}
.contentWrapper-3oy4Xo {
    background: #54545461 !important;
}
.container-2McqkF {
    background: rgba(0, 0, 0, 0.32) !important;
}
@keyframes RGB {
    0% {color: #FF0000;}
    16.66667% {color:#FF7F00;}
    33.33334% {color:#FF7F00;}
    50% {color: #00FF00;}
    66.66667% {color: #0000FF;}
    83.33334% {color:  #2E2B5F;}
    100% {color: #8B00FF;}
}
.title-17SveM {
	animation: RGB 5s infinite alternate;
}
.title-3XlmeX {
	animation: RGB 5s infinite alternate;
}
.modal-2RrUKJ {
    background-color: rgba(0, 0, 0, 0.32) !important;
}
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: rgba(0, 0, 0, 0.32);
    color: #0080ff;
}
.popout-1KHNAq {
    border: 1px solid #00ecff;
}
.headerStreaming-2FjmGz {
    background-color: transparent;
}
.topSectionXbox-3fWLjS {
    background-color: transparent;
}
.containerBackground-3PNziK {
    background-color: rgba(0, 0, 0, 0.223);
}
.topSectionStreaming-1Tpf5X {
    background-color: transparent;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    color: #280088;
    border-color: #280088;
}
.bar-AokMp3 {
    background:  rgba(0, 0, 0, 0.65);
}
.colorStandard-21JIj7 {
    color: #ffffff;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
.option-2eIyOn {
    color: white;
}
.reaction-2A2y9y {
    background: hsla(0, 0%, 0%, 0.46);
}
.headerNormal-1l1Znk {
    background-color: transparent;
}
.headerTop-2y3V6H {
    background-color: transparent;
}
.input-2z42oC {
    background-color: #0000005c;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: rgba(0, 0, 0, 0.223);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255, 0, 0, 0.295);
    border-radius: 20px;
}
.headerTop-2cWpdB {
    background-color: transparent;
}
.avatar-22FtUu {
    background-color: transparent;
    border: transparent;
}
.headerNormal-1mX3KY {
    background-color: transparent;
}
.footer-1N3bR3 {
    background-color: transparent;
}
.bd-setting-note {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.bd-setting-header label {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.popoutBanner-3cqRD9 {
    background-color: transparent;
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: transparent;
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.profileBanner-1owKI5{
    background-color: transparent !important;
}
.popoutBanner-3cqRD9 {
    background-color: transparent !important;
}
.side-2ur1Qk .header-2Kx1US {
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.textarea-_59yqs:focus {
    background-color: rgba(0, 0, 0, 0.523);
}
.avatar-3QF_VA {
    border: transparent;
    background-color: transparent;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: #1447987a !important;
}
.accountProfileCard-lbN7n- {
    background-color: rgba(0, 0, 0, 0.423); 
}
.userPopout-2j1gM4 {
    background-color: transparent;
}
.bodyInnerWrapper-2bQs1k {
    background-color: transparent;
}
.container-cH6QoY {
    background-color: transparent;
}
.container-2t1JyW {
    background-color: transparent;
}
.rowContainer-jDvyA4 {
    background-color: transparent;
}
.participants-3hk3ND {
    background-color: transparent;
}
.tileContainer-Os085F {
    background-color: rgba(0, 0, 0, 0.423);
}
.footer-1Dc_h6 {
    background-color: transparent;
}
.footer-1Dc_h6 {
    background-color: transparent;
}
.prompt-SAnibq {
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0) !important;
}
.title-1yyp9V {
    text-shadow:
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.footer-3naVBw {
    background-color: transparent;
}
.colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: rgba(0, 0, 0, 0.523);
}
.popoutBanner-16rVDY {
    background-color: transparent !important;
}
.userProfileInnerThemedNonPremium-1gT-zY{
    background: transparent;
}

.userProfileOuterUnthemed-2b2rsv{
    background-color: transparent;
}
.theme-dark .scroller-WSmht3 {
    background: transparent;
}
.theme-dark .scroller-3X7KbA {
    background: transparent;
}
.theme-dark .container-YkUktl {
    background: transparent;
}
.theme-dark .scrollableContainer-15eg7h {
    background: transparent;
}